*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: #23262b;
    color: white;
}

#root{
    height: 100vh;
}

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

.app-past {
    display: flex;
    flex-direction: column;
    width: 49%;
    float: left;
}

.app-forecast {
    display: flex;
    flex-direction: column;
    width: 49%;
    float: right;
}

.title {
    padding: 5px;
}

.loader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}