.form-container{
    padding: 8px;
}

form{
    border-bottom: 1px solid #08c;
}

input[type="text"]{
    padding: 8px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    caret-color: white;
}

.autocomplete-dropdown-container > div {
    background: transparent;
    color: white;
    caret-color: white;
}

.autocomplete-dropdown-container .option {
    background: transparent;
    color: white;
    caret-color: white;
}

.autocomplete-dropdown-container .option:hover {
    background-color: #08c;
    cursor: pointer;
}

.search-button{
    padding:8px;
    background-color: #08c;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #08c;
}

::-webkit-input-placeholder {
    color: white;
}
::-moz-placeholder {
    color: white;
}
:-ms-input-placeholder {
    color: white;
}
::placeholder {
    color: white;
}