.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item{
    align-self: center;
    margin: 12px;
    list-style-type: none;
}

@media all and (max-width:480px){
    .navbar-container{
        flex-direction: column;
        align-items: center;
    }

    .navbar-list-item{
        flex-basis: 100%;
    }

    .navbar-list-item {
        order: 2;
    }

    .city-name{
        order: 1;
    }
}